<launch>
  <!-- 외부에서 전달받을 인자들 정의 -->
  <arg name="robot_name" default="robot1" />
  <arg name="set_frame_id" default="robot1_tf/base_scan" />
  <arg name="multi_robot_name" default="robot1_tf" />

  <!-- 네임스페이스 그룹으로 묶기 -->
  <group ns="$(arg robot_name)">

    <!-- Core 실행 -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_core.launch">
      <arg name="multi_robot_name" value="$(arg multi_robot_name)" />
    </include>

    <!-- Lidar 실행 -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_lidar.launch">
      <arg name="set_frame_id" value="$(arg set_frame_id)" />
    </include>

    <!-- 진단 노드 실행 -->
    <node pkg="turtlebot3_bringup" type="turtlebot3_diagnostics" name="diagnostics" output="screen" />

    <!--UWB launch 실행-->
    <!--<include file="$(find mdek_driver)/launch/ranges.launch">
      <arg name="port" value="/dev/serial/by-id/usb-SEGGER_J-Link_000760194046-if00"/>
      <arg name="baud" value="115200"/>
    </include>-->
  </group>

</launch>


